@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;

}
h1{
    font-size: 45px;
    color: #0017C1;
}
a{
    color: #0017C1;
}
p{
    font-size: 15px;
    line-height: 22px;
}
/* 헤더 */
header{
    width: 100%;
    left: 0;
    position: fixed;
    background-color: #fff;
}
header > .inner{
    max-width: 940px;
    width: 100%;
    height: 105px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inner a {
    display: inherit;
    align-items: center;
}
.inner a > span{
    height: 50px;
}
.inner > a img{
    width: 50px;
    height: 100%;
    vertical-align: bottom;    
}
.inner .person,
.inner .tabmenu{
    display: none;
}
.inner > div{
    display: inherit;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.inner .pcmenu > div{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.inner > div > a:nth-child(3){
    font-size: 15px;
    padding: 5px;
    border: 0.5px solid #0017C1;
    border-radius: 8px;
}
.inner > div > a:nth-child(3):hover{
    border: 0.5px solid #000082;
    background-color: #000082;
    font-weight: 700;
    color: #fff;
}
    /* select 스타일 */
.langtop{
    position: relative;
    margin: 0 0 0 25px;
}
.langtop > select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 85px;
    padding: 5px;
    font-size: 15px;
}
.langtop{
    position: relative;
    margin: 0 0;
}
.langtop > button{
    padding: 8px;
    background-color: #fff;
    border: 1px solid #0017C1;
    border-radius: 10px;
}

/* 메인 */
main{
    margin-top: 160px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
}
.main > div{
    display: flex;
    flex-direction: column;
}

/* 콘텐츠1 */
.contents01{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
.contents01 > h2,
.contents02 div > h2{
    margin: 40px 0 30px -30px;
    padding: 10px 0 10px 30px;
    color: #fff;
    background-color: #0017C1;
    max-width: 53%;
    border-radius: 0 30px 30px 0;
    font-size: 24px;
}
.contents01 > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contents01 > ul > li{
    max-width: 940px;
    width: 25%;
    padding: 20px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid #0017C1;
    border-radius: 15px;
}
.contents01 span{
    font-weight: 700;
    font-size: 20px;
    color: #0017C1;
}
.contents01 > ul span{
    font-weight: 700;
    font-size: 20px;
    color: #0017C1;
}
.contents01 > div{
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #0017C1;
    border-radius: 10px;
}
.contents01 > div > p{
    font-size: 17px;
}

/* 콘텐츠2 */
.contents02{
    margin-top: 80px;
    background-color: #eaeaea;
}
section{
    max-width: 940px;
    width: 100%;
    margin: 0px auto 80px;
    padding-top: 20px;
}
.youtube{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
iframe{
    max-width: 940px;
    width: 80%;
    height: 500px;
}
.secbox{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.secbox > .title{
    display: inherit;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.title > span{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    background-color: #0017C1;
    border-radius: 5px;
}
.title > h3{
    font-size: 18px;
    font-weight: 700;
}
.secbox .text{
    display: inherit;
    justify-content: space-between;
}
.text span{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0017C1;
}
.text span~p,
.text > div > p{
    margin-top: 10px;
}

.text > div > span:nth-of-type(2),
.text > div > span:nth-of-type(3){
    margin-top: 20px;
    margin-bottom: 0;
}
.text > p{
    width: 50%;
    font-size: 17px;
    margin-top: 10px;
}
.text p:nth-of-type(1){
    margin-top: 0;
}
.text > img{
    width: 325px;
}
.text > .one{
    width: 325px;
}
.one > img{
    max-width: 136px;
}
.text > div{
    width: 50%;
    display: inherit;
    flex-direction: column;
}

/* 콘텐츠3 */
.contents03{
    margin: 80px auto 0;
}
.contents03 > li{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.contents03 > li > h2{
    font-size: 25px;
    margin-bottom: 25px;
}
.contents03 > li > a{
    margin-top: 20px;
}
.contents03 > li > a:nth-of-type(1){
    margin-top: 0;
}
.contents03 > li > a::before{
    content: "●";
    color: #444;
    margin-right: 5px;
}
.contents03 > li > a::after{
    content: "";
    background-image: url(/visitjapanweb/img/external_16px.png);
}

/* 후터 */
footer{
    width: 100%;
    height: 100px;
    background-color: #0017C1;
    display: flex;
    align-items: center;
}
footer > div{
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}
footer img{
    width: 130px;
    vertical-align: bottom;
}

/* 번역버튼부분 */
#google_translate_element{ display: none; }
.btTranslateLang{
    cursor: pointer;
    padding: 10px;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
    top: -300px !important;
    display: none;
}
#goog-gt-tt{ display: none !important; }
body{
    top: 0 !important;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 768px){
    header > .inner{
        max-width: 708px;
        width: 95%;
        height: 75px;
    }
    .inner > a > span{
        width: 48px;
        height: auto;
    }
    .inner > a > span > img{
        width: 48px;
        height: auto;
    }
    .inner .person,
    .inner .tabmenu{
        display: flex;
    }
    .person > img{
        width: 40px;
    }
    .tabmenu > img{
        width: 40px;
    }
    .langtop > select{
        display: none;
    }
    .langtop::before{
        background-size: 28px 28px;
        width: 28px;
        height: 28px;
    }
    .inner > div{
        position: relative;
    }
    .inner > div > .pcmenu{
        display: none;
    }
    .inner > div > .pcmenu.on{
        display: flex;
    }
    .inner > div > .pcmenu > div{
        padding: 40px 55px;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        top: 75px;
        gap: 20px;
        background-color:#fff;
    }
    .inner > div > .pcmenu > div a{
        color: #0017C1;
        font-weight: 700;
        padding-bottom: 3px;
        font-size: 20px;
        border-bottom: 1.5px solid #fff;
    }
    .inner > div > .pcmenu > div a:hover{
        border-bottom: 1.5px solid #000082;
    }
    .main{
        margin-top: 130px;
    }
    .contents01{
        margin: 0px auto;
        max-width: 768px;
        width: 85%;
    }
    .contents02 > section{
        margin: 0px auto 80px;
        max-width: 768px;
        width: 85%;
    }
    .contents01 > h2,
    .contents02 div > h2{
        max-width: 90%;
    }
    .contents03{
        max-width: 768px;
        width: 85%;    
    }
    .secbox .text{
        flex-direction: column;
        align-items: center;
    }
    .secbox:nth-of-type(2){
        margin-top: 30px;
    }
    .text > div{
        width: 100%;
    }
    .text > p{
        width: 100%;
    }
    .text span{
        width: 100%;
    }
    .text > img{
        margin-top: 20px;
    }
    .one{
        margin-top: 20px;
    }
    footer > div{
        max-width: 768px;
        width: 95%;
    }
}